body{ /* Fondo de pantalla de la página */
    background: url(fondo.png);
}

form{ /* Configuración del form del formulario */
    margin: 150px 700px;
    width: 400px;
    height: 600px;
    background: rgba(202, 200, 200, 0.79);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

img{ /* Logo de Stark_Cinemas */
    width: 100px;
    height: 130px;
    margin: 10px;
}

#Title_Log_In{ /* Configuración de título "Log In" */
    display: inline;
    text-align: center;

    font-size: 54px;
    font-family: 'Bakbak One';
}

#Title_Correo{ /* Configuración de título "Correo" */
    margin-bottom: auto;
    font-size: 36px;
    font-family: 'Bakbak One';
    text-align: center;
    color: #1EA4AF;
}

#Title_Password{ /* Configuración de título "Contraseña" */
    margin-bottom: auto;
    font-size: 36px;
    font-family: 'Bakbak One';
    text-align: center;
    color: #1EA4AF;
}

.Campo_Correo{ /* Configuración del campo de diligenciamiento de correo */
    margin-left: 50px;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
}

.Campo_Password{ /* Configuración del campo de diligenciamiento de contraseña */
    margin-left: 50px;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
}

#Btt_Ingresar{ /* Configuración del botón "Ingresar" */
    margin-left: 107px;
    margin-top: 70px;
    padding: 5px 10px;

    font-family: 'Bakbak One';
    color: #FFFFFF;
    font-size: 42px;
    
    background: #1EA7AF;
    border-radius: 10px
}