body{ /* Fondo de vista y margen interno de vista */
    background: url(fondo.png);
}

.Marco_Dias{ /* Recuadro que contiene la información de la película */
    padding-top: 10px;
    background-color: black;
    margin-right: 20px;
    margin-left:95px;
    margin-bottom: 50px;
    width: 350px;
    height: 650px;
    border-radius: 15px;
    display: inline-block;
}

#Btt_Log_In{ /* Perform del botón "Log In" */ 
    padding: 5px 5px;
    font-family: 'Bakbak One';
    color: #FFFFFF;
    font-size: 28px;   
    background: black;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 90px;
    position: absolute;
}

#Title_Stark{ /* Perform de la cabecera de la vista */
    background-color: #1EA7AF;
    font-family: "Bakbak One";
    text-align: center;
    font-size: 90px;
    margin: 0%;
}

.Logo{ /* Tamaño y posicionamiento del logo de Stark_Cinemas */ 
    width: 80px;
    height: 110px;
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
}

#Title_Cartelera{ /* Perfom del título "Cartelera Semanal" */
    text-align: center;
    font-family: "Bakbak One";
    font-size: 36px;
    margin: 10%, 0%;
}

#Title_Dia_Semana{ /* Perform del día de la semana en el que se va a presentar la película */ 
    color: white;
    margin-block-end: 2%;
    margin-block-start: 0%;

    text-align: center;
    font-family: "Inika";
    font-size: 48px;
}

.portada{ /* Perform del recuadro donde va la portada de la película */
    width: 300px;
    height: 250px;
    margin-left: 25px;
    border-radius: 10px;
}

.Title_Portada{ /* Perform de los subtítulos de la información de la película */ 
    margin-left: 25px;
    color: white;
    font-family: "Inika";
    font-size: 20px;
}

#Btt_Reservar{ /* Perform del botón "Reservar" */ 
    padding: 5px 5px;
    font-family: 'Bakbak One';
    color: #FFFFFF;
    font-size: 28px;   
    background: #1EA7AF;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 50px;
}

#Btt_Valorar{ /* Perform del botón "Valorar" */ 
    padding: 5px 5px;
    font-family: 'Bakbak One';
    color: #FFFFFF;
    font-size: 28px;   
    background: #1EA7AF;
    border-radius: 10px;
}